#logobandua{
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
#hinhadmin{
 /* float: right;*/
 background-color: red;
}

#search{
	margin-top: 30px;

}
#background_footer{
	background-color: #c0d1c1;
}
#agileinfo-nav_search{
	background-color: white;
}
#btn-dangsp{
	background-color: #ff5722;
    font-size: 50px
    border-radius: 50%;
    margin-top: 10px;

}
#testmauanh{
    padding-top: 15px;
    /*background-color: red;*/
    height: 60px;
}
.btn-sanphamnoibat{
    background-color: #FF5722;
}



.preview-images-zone {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 180px;
    /* display: flex; */
    padding: 5px 5px 0px 5px;
    position: relative;
    overflow:auto;
}
.preview-images-zone > .preview-image:first-child {
    height: 185px;
    width: 185px;
    position: relative;
    margin-right: 5px;
}
.preview-images-zone > .preview-image {
    height: 90px;
    width: 90px;
    position: relative;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
    width: 100%;
    height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
    position: absolute;
    z-index: 100;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.preview-image:hover > .image-zone {
    cursor: move;
    opacity: .5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
    display: block;
}
#dropdownaccount{
    padding-left: 15px;
}



.trangthaichoxuly{
    background-color: #2196F3;
    width: auto;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5%;
}
.trangthaidongy{
    background-color: #2DA04E;
    width: auto;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5%;
}
.trangthaidahuy{
    background-color: #FF4045;
    width: auto;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5%;
}
#testmautable{
    background-color: ;
    width: auto;
}
#hinhanhtrongban{
    width: 40px;
    height: 50px;
}

.sanphamtable{
    background-color: #2DA04E;
    width: auto;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5%;
}

.iddatmuasp{
    background-color: #ff5722;
    color: white;
}
#iddatmuasp{
    background-color: #ff5722;
}

.thuoctinhchitietsp{
    font-size: 75%;
}






/*Style Binh luan*/
#motasp{
    font-family: Arial;
    width: 550px;

}
.comment-form-container {
    background: #F0F0F0;
    border: #e0dfdf 1px solid;
    padding: 20px;
    border-radius: 2px;
}

.input-row {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    border: #e0dfdf 1px solid;
}

.btn-submit {
    padding: 10px 20px;
    background: #333;
    border: #1d1d1d 1px solid;
    color: #f0f0f0;
    font-size: 0.9em;
    width: 100px;
    border-radius: 2px;
    cursor:pointer;
}


.product-single-w3l ul li{
  /*  background-color: green;*/
    list-style-type: none;
    /*margin-top: 0px;
    margin-bottom: 0px;*/
    padding-left: 70px;
    font-size: 100%;
}



.comment-row {
    border-bottom: #e0dfdf 1px solid;
    margin-bottom: 15px;
  /*  background-color: blue;*/
    padding: 15px;
}

.outer-comment {
    background: #F0F0F0;
  /*  background-color: red;*/
    padding: 20px;
    border: #dedddd 1px solid;
}

span.commet-row-label {
    font-style: italic;
}

span.posted-by {
    color: #09F;
}

.comment-info {
    font-size: 0.8em;
}
.comment-text {
    margin: 10px 0px;
}
.btn-reply {
    font-size: 0.8em;
    text-decoration: underline;
    color: #888787;
    cursor:pointer;
}
#comment-message {
    margin-left: 20px;
    color: #189a18;
    display: none;
}